<div id="account_form" class="container">
    <div id="account_form_buttons" class="btn-group">
        <button class="btn btn-primary" id="btn_login" onclick="toggle(signup_form, 0); toggle(login_form, 1);">Log In</button>
        <button class="btn btn-info" id="btn_signup" onclick="toggle(login_form, 0); toggle(signup_form, 1);">Register</button>
    </div>
          
      
    <div id="login_form" class="">
        
        <%#= form_for("/login", :url => {:action => "/login"}) do |f| %>
        <%#= form_for(@user) do |f| %>
        <%= form_for(login_url, url: login_url, method: :post) do |f|%>
            <%#= render 'shared/error_messages' %>
            <div class="form-group">
                <%= f.label :email, class: "control-label" %>
                <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :password, class: "control-label" %>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div>
                <%= f.submit "Submit", class: "btn btn-success" %>
            </div>
        <% end %>
        
    </div>
    <div id="signup_form" style="display:none; margin-bottom: 15px;">
        <%#= form_for(signup_url, url: signup_url, method: :post) do |f| %>
        <%= form_for(@user, url: new_user_url) do |f| %>
            <%#= render 'shared/error_messages' %>
            <div class="form-group">
                <%= f.label :name, class: "control-label" %>
                <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :email, class: "control-label" %>
                <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :password, class: "control-label" %>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
            
            <div >
                <%= f.submit "Submit", class: "btn btn-success" %>
            </div>
        <% end %>
    </div>
        
</div>