<aside class="col-md-3" style="height: 80%;">
  <section class="user_info">
    <h3>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h3>
    <h5><a href="http://gravatar.com/emails" target="_blank" resl="noopener">change gravatar</a></h5>
  </section>
  <div class="user_ops">
    <% if current_user? @user %>
    <h4>
      <%= link_to "Write Product Review", products_path %>
    </h4>
    <h4>
      <% if current_user?(@user) %>
        <%= link_to "My Reviews", @user unless params[:action] == "show" %>
      <% else %>
        <%= link_to "#{@user.name}'s Reviews", @user unless params[:action] == "show" %>
      <% end %>
    </h4>
      <% if current_user.admin? %>
        <h4>
         <%= link_to "Users List", users_path %>
        </h4>
      <% end %>
    <h4>
      <%= link_to "Edit Account", edit_user_path(current_user) unless params[:action] == "edit" %>
    </h4>
    <h4>
      <%= link_to "Log out", logout_path, method: "delete" %>
    </h4>
    <div class="container delete_acc">
      <h5 class="delete_h">
        <%= link_to "Delete My Account", delete_user_path(@user.id), method: :delete, data: { confirm: "#{current_user.name}, are you sure you want to delete your account?" } %>
      </h5>
    </div>
    <% else %>
      <h4>
        <%= mail_to @user.email, "Contact #{@user.name}" %>
      </h4>
      <% if current_user.admin? %>
        <h4>
         <%= link_to "Users List", users_path %>
        </h4>
      <% end %>
      <% if current_user.admin? %>
        <div class="container delete_acc">
          <h5 class="delete_h">
           <%= link_to "Delete Their Account", delete_user_path(@user.id), method: :delete, data: { confirm: "#{current_user.name}, are sure you want to delete #{@user.name}'s account?" } %>
          </h5>
        </div>
      <% end %>
    <% end %>
  </div>
</aside>
