<% provide(:title, 'My Reviews') %>
<div class="container">
  <div class="row">
    <%= render 'users/sidebar' %>
    
    <div class="col-md-9">
      <%= render 'shared/flash' %>
      
      <% if current_user? @user %>
        <h1>Your Reviews (<%= @user.reviews.count %>)</h1>
      <% else %>
        <h1>Their Reviews (<%= @user.reviews.count %>)</h1>
      <% end %>
      
      <% if @user.reviews.any? %>
        <ol id="reviews_list" class="">
          <div class="col-md-offset-1">
            <%= render @reviews %>
          </div>
        </ol>
        <div class="center">
          <%= will_paginate @reviews %>
        </div>
      <% end %>
        
    </div>
  </div>
</div>