<header>
	<div id="header_home" class="header_btn">
		<%= link_to image_tag("store_home.png", alt: "Home Icon", height: "15px"), root_path, class:"header_link" %>
	</div>
	
	
	<div class="header_btn">
		<%= link_to "Product Search", shop_path, class:"header_link" %>
	</div>
	
	
	<div class="header_btn">
		<%= link_to "Reviews", reviews_path, class:"header_link" %>
	</div>
	
	
	<div class="header_btn">
		<%# if @user.isLoggedIn? %>
			<%= link_to "Account", account_path, class:"header_link"%>
		<%# else %>
			<%= link_to "Login/Account", account_path, class:"header_link" %>
		<%# end %>
	</div>
	
	
	<div id="header_cart" class="header_btn">
		<%= link_to image_tag("store_cart.png", alt:"Shopping Cart Icon", height:"15px"), '#', class:"header_link" %>
	</div>
</header>