<header id="header" class="row">
	<nav class="navbar navbar-inverse navbar-collapse">
	  	<div class="container" style="padding-left:auto;">
			<ul class="navbar-nav" style="list-style:none;">
				<li><h5><%= link_to "Home", root_path, class:"navbar-brand navbar-btn" %></h5></li>
				<li><h5><%= link_to "Product Search", shop_path, class:"navbar-brand navbar-btn" %></h5></li>
				<li><h5><%= link_to "Reviews", reviews_path, class:"navbar-brand navbar-btn" %></h5></li>
				<li>
					<h5>
						<% if logged_in? %>
							<%= link_to current_user.name, current_user, class:"navbar-brand navbar-btn" %>
						<% else %>
							<%= link_to "Login/Register", login_path, class:"navbar-brand navbar-btn" %>
						<% end %>
					</h5>
				</li>
				<li><h5><%= link_to "Cart", '#', class:"navbar-brand navbar-btn" %></h5></li>
	    	</ul>
		</div>
	</nav>
</header>