<% provide(:title, "Site Map") %>
<div class="jumobtron page-header">
    <h1>Navigation Page</h1>
    <h2>
        <ul style="list-style-type:none;">
            <span style="text-decoration:underline; margin-bottom:5px">Links to all pages of this site</span>
            
            <li style="margin-bottom:5px;">
                <%= link_to "About Bricked Electronics", about_url %>
            </li>
            <li style="margin-bottom:5px;">
                <%= link_to "Contact Us", contact_url %>
            </li>
            <li style="margin-bottom:5px;">
                <%= link_to "Help", help_url %>
            </li>
            <li style="margin-bottom:5px;">
                <%= link_to "Homepage", root_url %>
            </li>
            <li style="margin-bottom:5px;">
                <%= link_to "Manage My Account", account_url %>
            </li>
            <li style="margin-bottom:5px;">
                <%= link_to "Product Reviews", reviews_url %>
            </li>
            <li style="margin-bottom:5px;">
                <%= link_to "Product Search", shop_url %>
            </li>
        </ul>
        
        
    </h2>
</div>
