<% provide(:title, "Site Map") %>

<div style="margin-top:2em; margin-bottom:2em;">
    <ul style="list-style-type:none;">
        <span style="text-decoration:underline; margin-bottom:0.5em">Links to all pages of this site</span>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= pages_about_url %>>About</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= pages_account_url %>>Account</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= pages_shop_url %>>Shop</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= pages_help_url %>>Help</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= pages_home_url %>>Home</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= pages_navigation_url %>>Navigation - You're already here</a></li>
    </ul>
</div>