<% provide(:title, "Site Map") %>

<div style="margin-top:2em; margin-bottom:2em;">
    <ul style="list-style-type:none;">
        <span style="text-decoration:underline; margin-bottom:0.5em">Links to all pages of this site</span>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= about_url %>>About</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= account_url %>>Account</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= shop_url %>>Shop</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= help_url %>>Help</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= root_url %>>Home</a></li>
        <li style="margin:1em;"><a style="text-decoration:none;" href=<%= reviews_url %>>Reviews</a></li>
    </ul>
</div>