<div id="cart" style="display:none; position: fixed; width: 50%; height:80%; left:25%; top:10%; background-color:#ddd; padding: 10px; outline: 5px #888 solid; outline-radius: 5px; z-index:5;">
    <% unless current_user.nil? %>
        <div id="cart_header" class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Total: <%= number_to_currency(current_user.cart.total) %></h4>
                </div>
                <div class="col-md-3">
                    <%= button_to "Empty Cart", empty_cart_path(current_user.cart), onclick: "toggleCart()", class: "btn btn-primary", id: "empty_cart" %>
                </div>
            </div>
        </div>
    <% end %>
    
    <div id="cart_list" class="row">
        <% unless current_user.nil? %>
            <% if current_user.cart.empty?%>
                <h5 class="text-center"><i>Your cart is empty.</i></h5>
            <% else %>
                <table class="table table-hover">
                    <tbody>
                        <%# If a user adds too many items, they won't be able to see them all %>
                        <%= render current_user.cart.line_items %>
                    </tbody>
                </table>
            <% end %>
        <% else %>
            <h5 class="text-center">
                Please
                <%= link_to "log in", login_path %>
                or
                <%= link_to "register", signup_path %>
                to use the cart.
            </h5>
        <% end %>
    </div>
</div>
<div id="cart_blur" style="display:none; position: fixed; width: 100%; height:100%; top: 0; left: 0; background: #000; opacity: 0.75; filter: alpha(opacity = 75); z-index:4;" onclick="toggleCart();"></div>