<li class="row productLine" style="list-style-type: none;">
  <%= image_tag(product.image, :alt => "Image for #{product.title}", :width => "400px", :class => "center-block") %>
  <h4 class="title center">
    <%= product.title %>
  </h4>
  <h6 class="price center">
    <%= number_to_currency(product.price) %>
  </h6>
  <h6 class="description">
    <%= product.description unless params[:controller] == 'pages' && params[:action] == 'home' %>
  </h6>
  <% if logged_in? %>
  <div class="text-center">
    <span class="product_cart">
      <%= link_to (content_tag(:span, "", class: "glyphicon glyphicon-shopping-cart") + " add to cart").html_safe, add_to_cart_path(:u_id => current_user.id, :p_id => product.id ), method: :post %>
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span class="product_write">
      <%= link_to ("write a review " + content_tag(:span, "", class: "glyphicon glyphicon-pencil")).html_safe, new_review_path(:u_id => current_user.id, :p_id => product.id) %>
    </span>
  </div>
  <% end %>
</li>