<li class="row review_info">
  <%= link_to gravatar_for(review.user, size: 60), review.user %>
  <h5 class="user">
    <%= link_to review.user.name, review.user %>
    <% unless review.product_id.nil? %>
      reviewing
      <b><u><%= link_to review.product.title, products_path %></u></b>
    <% end %>
  </h5>
  <h6 class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
    &nbsp;
    <%= link_to "Edit", edit_review_path(id: review.id) %>
    &nbsp;
    <%= link_to "Delete", delete_review_path(id: review.id), method: :delete, data: {confirm: "Are you sure you want to delete this review?" }%>
  </h6>
  <% if review.created_at != review.updated_at %>
    <h6 class="timestamp">
      Edited <%= time_ago_in_words(review.updated_at) %> ago.
    </h6>
  <% end %>
  <h6 class="content"><%= review.content %></h6>
</li>